.header-content{
    min-height: 84vh;
    background: linear-gradient(rgba(0, 0, 0, 0.777), rgba(0, 0, 0, 0.5)), url("https://pbs.twimg.com/media/FtspRaFX0A07aaQ?format=jpg&name=4096x4096") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    font-weight: bold;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.9;
    max-width: 770px;
    font-weight: bold;
    

}